@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: linear-gradient(to bottom, #490076, #8800DC, #490076);
}

#fotoLogo {
    width: 70px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

nav {
    background-color: #1E0030C7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: 40px;
    color: #fff;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header li {
    display: flex;
    align-items: center;
    margin: 0px 40px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;    
    padding: 7px;
    border-radius: 7px;
}

h2 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    margin: 50px 30px;
}

.series {
    margin-bottom: 200px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.filme {
    min-height: 350px;
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
}

.filme img {
    width: 300px;
}

.filme h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #490076;
}

.filme a {
    text-decoration: none;
    color: #490076;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
}

.filme a:hover {
    background-color: #490076;
    color: #fff;
    border: 1px solid #490076;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 40px 0px 10px 0px;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

footer li {
    display: flex;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #fff;  
    font-size: 16px; 
    padding: 5px 20px;
    border-radius: 7px;
}

a:hover {
    background-color: #d5b1ec86;
}

footer p {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
}